# POSTGRESQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ENCRYPT
AES_KEY_V1=
HMAC_KEY=

# AWS
##S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

## Bedrock
BEDROCK_ACCESS_KEY_ID=
BEDROCK_SECRET_ACCESS_KEY=
BEDROCK_REGION=
BEDROCK_MODEL_ID=

## CloudFront
CLOUDFRONT_DOMAIN=
CLOUDFRONT_KEY_PAIR_ID=
CLOUDFRONT_PRIVATE_KEY_BASE64=

## SES
SES_ACCESS_KEY_ID=
SES_SECRET_ACCESS_KEY=
SES_REGION=
SES_FROM_ADDRESS=