# intelij
.idea

# macOS
.DS_Store

# claude
CLAUDE.md
.claude

# env
.env
.env.*

# build output
.gradle
build

# logs
logs

# commit
COMMIT_MSG

# pr
PR_BODY
# loadtest
loadtest/results

# docs/api-spec
docs/api-spec

# demonstration
demo